# Build folders
build/
bin/
out/

# VSCode
.github
docs/*
!docs/MASTER_DOCUMENT.md

# Logs / temp
logs.txt
*.log
temp_*.cpp

# CMake
CMakeCache.txt
CMakeFiles/

# OS
Thumbs.db
.DS_Store
*.txt
!CMAKELISTS.TXT
*.c